.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 3vmin;
  color: white;
}

.List {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
}

.List > div {
  padding: 8px 16px;
}

.Header {
  color: rgba(255, 255, 255, 0.5);
  font-size: calc(1.5vmin);
  font-weight: bold;
}

.Version, .ApiLevel {
  color: rgba(0, 0, 0, 0.3);
  text-align: center;
}

.Footer {
  margin: 8px 0;
  color: rgba(255, 255, 255, 0.5);
  font-size: calc(1.5vmin);
}
